[Desktop Entry]
Type=Application
Name=MeshCentral Desktop
GenericName=Remote Device Manager
Comment=Manage devices on a MeshCentral server
Exec=meshcentral-desktop %U
Icon=meshcentral-desktop
Terminal=false
Categories=Network;RemoteAccess;
Keywords=meshcentral;remote;desktop;rmm;management;terminal;
StartupWMClass=meshcentral-desktop
StartupNotify=true
